
<% if params[:conversation].nil? && @conversation.nil? %>
  <% conversation = Conversation.new %>
<% else %>
  <% conversation = params[:conversation].nil? ? @conversation : params[:conversation] %>
<% end %>


  <% conversation.messages.each do |message| %>
    <div class="message">
      <% if message.body %>
        <h4><%= fullname(message.user) %></h4>
        <p><%= message.body %></p>
      <% end %>
    </div>
  <% end %>

  <%= form_with model: [conversation, conversation.messages.new] do |f| %>
    <div class="new-message-field">
      <%= f.text_area :body, placeholder: "Your message" %>
    </div>
      <%= hidden_field_tag :user_id, current_user.id %>
    <%= f.submit "Send", style: "margin-bottom: 1rem;" %>
  <% end %>


