<ul>
  <% @messages.each do |message| %>
    <% if message.body %>
      <li>
        <h4><%= fullname(message.user) %></h4>
        <p><%= message.body %></p>
      </li>
    <% end %>
  <% end %>
</ul>

<%= form_for [@conversation, @message] do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Your message" %>
  </div>

  <%= f.submit "Send" %>
<% end %>

<p><%= link_to "Back to conversations", conversations_path %></p>
