<div class="container">
  <%= simple_form_for(@composer, url: composer_path, method: :patch) do |f| %>
    <%= f.input :name, :as => :string%>
    <%= f.input :biography, :as => :string %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate this composer" %>
    <%= f.input :avatar, as: :file %>
    <%= f.submit "Save" %>
  <% end %>
</div>
