<div class="composer-index-container">
  <% @composers.each do |composer| %>
    <div class="composer-index-card">
      <div class="composer-index-card-photo-container">
        <% if composer.photo.attached? %>
          <%= cl_image_tag composer.photo.key %>
        <% else %>
          <%= image_tag("san_francisco") %>
        <% end %>
      </div>
      <p>Name: <%= link_to composer.name, composer_path(composer)%></p>
      <p>Biography: <%= composer.biography %></p>
      <p>Rating: <%= composer.rating %></p>
    </div>
  <% end %>
</div>
<p><%= link_to "Home", root_path %></p>
<p><%= link_to "New composer", new_composer_path %></p>
