<div class="composer-show-container">
  <div class="composer-show-photo-container">
    <%= cl_image_tag find_photo(@composer) %>
  </div>
  <p><%= @composer.name %></p>
  <p><%= @composer.biography %></p>
  <p><%= @composer.rating %></p>
  <p>-------------------------</p>
  <p>Pieces:</p>
  <% @composer.pieces.each do |piece| %>
    <p><%= link_to piece.name, piece_path(piece) %></p>
  <% end %>
  <p><%= link_to "Home", root_path %></p>
  <p><%= link_to "New composer", new_composer_path %></p>
  <p><%= link_to "Edit composer", edit_composer_path %></p>
</div>
