<p><%= @composer.name %></p>
<p><%= @composer.biography %></p>
<p><%= @composer.rating %></p>
<p>-------------------------</p>
<p><%= link_to "Home", root_path %></p>
<p><%= link_to "New composer", new_composer_path %></p>
