<div class="profile-info">
  <div class="about-me-edit">
    <p>About me</p>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>
  <div class="basic-info">
    <div class="info-title text-muted">Basic info</div>
    <div class="info-params">
      <% unless @user.occupation.nil? %><p>Occupation: <%= @user.occupation %></p><% end %>
      <% unless @user.gender.nil? %><p>Gender: <%= @user.gender %></p><% end %>
      <% unless @user.introduction.nil? %><p>Introduction: <%= @user.introduction %></p><% end %>
    </div>
  </div>
  <div class="biography">
    <div class="info-title text-muted">Biography</div>
    <div class="info-params">
      <% unless @user.gender.nil? %><%= @user.biography %><% end %>
    </div>
  </div>
  <div class="music">
    <div class="info-title text-muted">Music Achievements</div>
    <div class="info-params">
      <% unless @user.instrument.nil? %><p>Instrument: <%= @user.instrument %></p><% end %>
      <% unless @user.favorite_composer.nil? %><p>Favorite Composer: <%= @user.favorite_composer %></p><% end %>
      <p>Level: <%= @user.level.name %></p>
      <p>Points: <%= @user.points %></p>
    </div>
  </div>
</div>
