<div class="container">

<%= simple_form_for(@user, url: user_path, method: :patch) do |f| %>
  <%= f.error_notification %>
    <%= f.input :first_name, :as => :string%>
    <%= f.input :last_name, :as => :string %>
    <%= f.input :instrument, collection: ["Piano", "Violin", "Flute", "Cello", "Guitar", "Something escapated"] %>
    <%= f.input :biography, :as => :string %>
    <%= f.input :introduction, :as => :string %>
    <%= f.input :phone, :as => :string %>
    <%= f.input :gender, as: :radio_buttons, collection: ["Male", "Female", "Non_Binary"] %>
    <%= f.input :avatar, as: :file %>
    <%= f.input :wallPaper, as: :file %>
    <%= f.input :level_id, collection: Level.all %>
  <%= f.submit "Update Profile" %>
  <% end %>

</div>
