<div class="container-profile">
  <div class="profile-info">
    <div class="profile-info-picture">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, style: "width: 100%; height:100%;" %>
      <% else %>
        <%=  cl_image_tag("nqeWdH9m2xAE9MhopqXgeZFJ.jpg") %>
      <% end %>
    </div>
    <div class="profile-info-data">
      <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
      <p>Email: <%= @user.email %></p>
      <p>Instrument: <%= @user.instrument %></p>
      <p>Favorite Composer: <%= @user.favorite_composer %></p>
      <p>Level: <%= @user.level.name %></p>
      <p>Occupation: <%= @user.occupation %></p>
      <p>Address: <%= @user.address %></p>
      <p>Gender: <%= @user.gender %></p>
      <% if @user.id == current_user.id %>
        <p><%= link_to "Edit your profile", edit_user_path(current_user) %></p>
      <% end %>
    </div>
    </%>
  </div>
  <div class="profile-activity">
      <div class="my-homework"></div>
      <div class="my-pieces">
        <% current_user.pieces.each do |piece| %>
          <%= piece.name %>
        <% end %>
      </div>
      <div class="show-my-follows">
        <% @my_followed_users.each do |usr| %>
          <div>
            <% if usr.photo.attached? %>
              <%= usr.photo.key %>
            <% else %>
              <%= cl_image_tag("v1574354266/mWBrvXmf4zHKXDtWQyBgPiLt.jpg") %>
            <% end %>
            <div style="display: flex; justify-content: space-between;">
              <%= link_to usr.first_name, user_path(usr) %> <%= button_to("Unfollow", follow_path(usr), method: :delete )%>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
