<div class="container-profile">
  <div class="wallpaper-options">
    <div class="wallpaper">
      <%= cl_image_tag find_wallPaper(@user), class: "wallpaper-photo photo-fit" %>
      <%= cl_image_tag find_avatar(@user), class: "profile-info-picture" %>
      <div class="user-name"><%= fullname(@user) %></div>
    </div>
    <div class="profile-options">
      <%= link_to "Timeline", posts_path(user_id: @user.id), remote: true, class: "option" %>
      <%= link_to "Info", user_path, remote: true, class: "option" %>
      <%= link_to "Friends", follows_path, remote: true, class: "option" %>
      <%= link_to "Videos", videos_path(user_id: @user.id), remote: true, class: "option" %>
      <div class="option">Stats</div>
    </div>
  </div>
  <div id="profile-content">
    <% if @user.id == current_user.id %>
      <%= render 'posts/new' %>
    <% end %>
    <%= render 'posts/index' %>
  </div>


</div>


