<div class="container-profile">
  <div class="wallpaper">
    <%= cl_image_tag find_wallPaper(@user), class: "wallpaper-photo photo-fit" %>
    <%= cl_image_tag find_photo(@user), class: "profile-info-picture" %>
    <div class="user-name"><%= @user.first_name %> <%= @user.last_name %></div>
  </div>
  <div class="profile-options">
    <%= link_to "Timeline", posts_path, remote: true, class: "option" %>
    <%= link_to "About", user_path, remote: true, class: "option" %>
    <%= link_to "Friends", follows_path, remote: true, class: "option" %>
    <%= link_to "Videos", videos_path, remote: true, class: "option" %>
    <div class="option">Stats</div>
  </div>
  <div id="profile-content">

  </div>


</div>


