<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add a new video</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for Video.new do |f| %>
          <%= hidden_field_tag :user_id, current_user.id %>
          <%= f.input :title, as: :string %>
          <%= f.input :url, as: :string %>
          <%= f.input :composer, as: :string %>
          <%= f.submit "post", class: "btn btn-default btn-primary" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

