<div class="sidenav">
  <div class="menu-button"><p><%= icon('fas', 'bars') %></p></div>
  <div class="links">
    <p><%= link_to icon('fas','home') , root_path(current_user) %></p>
    <p><%=link_to icon('fas','user'), user_path(current_user) %></p>
    <p><%= link_to icon('fas','users'), follows_path %></p>
    <p><%= link_to icon('far','comment-dots'), posts_path, params: {general_wall: true} %></p>
    <p><%= link_to icon('fas','book-open'), workloads_path %></p>
    <p><%= link_to icon('fas','inbox') , conversations_path %></p>
    <p><%= link_to icon('fas','wrench') , edit_user_registration_path(current_user) %></p>
  </div>
</div>
