<div class="title">Index of pieces</div>
<div class="card-container">
  <% @pieces.each do |piece| %>
  <div class="card">
    <div class="card-photo">
      <%= cl_image_tag find_photo(piece), class: "photo-fit" %>
    </div>
    <div class="card-info">
      <p><%= link_to trackname(piece), piece_path(piece) %></p>
      <p><%= link_to piece.level.name, level_path(piece.level) %></p>
      <p><%= piece.description %></p>
      <p>Rating: <%= piece.rating %></p>
    </div>
    <p><%= button_to "Add to my repertoire", repertoires_path, params: {piece_id: piece.id}, method: :post %></p>
  </div>
  <% end %>
</div>
<p><%= link_to "Home", root_path %></p>
<p><%= link_to "New piece", new_piece_path %></p>
