<div class="container">
  <div class="title">
    <p><%= @piece.name %></p>
    <p><%= @piece.composer.name %></p>
  </div>
  <div>
    <p>Name: <%= @piece.name %></p>
    <p>Composer: <%= @piece.composer.name %></p>
    <p>Level: <%= @piece.level.name %></p>
    <p>Description: <%= @piece.description %></p>
    <p>Rating: <%= @piece.rating %></p>
    <%= cl_image_tag find_photo(@piece) %>
    <p>Comments on this piece:</p>
    <% @piece.comment_pieces.each do |comment| %>
      <p><%= comment.user.first_name %> - <%= comment.comment %></p>
    <% end %>
    <%= simple_form_for(@comment_piece, url: comment_pieces_path, params: @piece.id) do |f| %>
      <%= f.input :comment, :as => :text%>
      <%= hidden_field_tag(:piece_id, @piece.id) %>
      <%= f.submit "Submit" %>
  <% end %>
  </div>
<p><%= button_to "Add to my repertoire", repertoires_path, params: {piece_id: @piece.id}, method: :post %></p>
<p><%= link_to "Edit piece", edit_piece_path(@piece) %></p>
<p><%= link_to "Delete piece", piece_path, method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></p>
<p><%= link_to "Back to my Repertoire", repertoires_path %></p>
</div>
