<p>Name: <%= @piece.name %></p>
<p>Composer: <%= @piece.composer.name %></p>
<p>Level: <%= @piece.level.name %></p>
<p>Description: <%= @piece.description %></p>
<p>Rating: <%= @piece.rating %></p>
<% if @piece.photo.attached?  %>
  <p><%= cl_image_tag @piece.photo.key, height: 300, width: 400, crop: :fill %></p>
<% end %>
<p>------------------------------</p>
<p><%= link_to "Home", root_path %></p>
<p><%= link_to "New piece", new_piece_path %></p>
<p><%= link_to "Edit piece", edit_piece_path(@piece) %></p>
<p><%= link_to "Delete piece", piece_path, method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></p>
