<div class="level-title">My subjects</div>
  <div class="composer-index-container">
    <% if @my_subjects.any? %>
      <% @my_subjects.each do |subject| %>
        <div class="composer-index-card">
          <div class="composer-index-card-photo-container">
            <% if subject.photo.attached? %>
              <%= cl_image_tag subject.photo.key %>
            <% else %>
              <%= cl_image_tag("WHCKHqceMQcSYcaFK1fdBkT6.jpg") %>
            <% end %>
          </div>
          <p><%= link_to subject.name, subject_path(subject)%></p>
          <p><%= subject.description %></p>
          <p><%= subject.rating %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="level-title">Other Subjects of My level</div>
  <div class="composer-index-container">
    <% @other_subjects.each do |subject| %>
      <div class="composer-index-card">
        <div class="composer-index-card-photo-container">
          <% if subject.photo.attached? %>
            <%= cl_image_tag subject.photo.key %>
          <% else %>
            <%= cl_image_tag("WHCKHqceMQcSYcaFK1fdBkT6.jpg") %>
          <% end %>
        </div>
        <p><%= link_to subject.name, subject_path(subject)%></p>
        <p><%= subject.description %></p>
        <p><%= subject.rating %></p>
        <p><%= button_to "Take this subject", workloads_path, params: { subject_id: subject.id}, method: :post %></p>
      </div>
    <% end %>
  </div>
  <p><%= link_to "Add New subject", new_subject_path %></p>
</div>

