<div>
<div class="title">My subjects</div>
  <div class="card-container">

    <% if @my_subjects.any? %>
      <% @my_subjects.each do |subject| %>
        <div class='card'>
          <div class="card-photo">
            <%= cl_image_tag find_avatar(subject) %>
          </div>
          <div class="card-info">
            <p><%= link_to subject.name, subject_path(subject)%></p>
            <p><%= subject.description %></p>
            <p><%= subject.rating %></p>
          </div>
        </div>
      <% end %>
    <% end %>

</div>
<div class="title">Other Subjects of My level</div>
  <div class="card-container">
    <% @other_subjects_level.each do |subject| %>
      <div class="card">
        <div class="card-photo">
          <%= cl_image_tag find_avatar(subject) %>
        </div>
        <div class="card-info">
          <p><%= link_to subject.name, subject_path(subject)%></p>
          <p><%= subject.description %></p>
          <p><%= subject.rating %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>



