<div class="composer-show-container">
  <div class="composer-show-photo-container">
    <% if @subject.photo.attached? %>
      <%= cl_image_tag @subject.photo.key %>
    <% else %>
      <%= cl_image_tag("WHCKHqceMQcSYcaFK1fdBkT6.jpg") %>
  <% end %>
  </div>
  <p><%= @subject.name %></p>
  <p><%= @subject.description %></p>
  <p><%= @subject.rating %></p>
  <p>Enjoy it!</p>
  <p><%= link_to "Edit subject", edit_subject_path(@subject) %></p>
  <p><%= link_to "Back to my Workload", subjects_path %></p>
</div>
