

  <div class="subject-name"><%= @subject.name %></div>
  <div class="subject-description">(Description, Syllabus, Goals, Calendar) <%= @subject.description %></div>

  <% if current_user.is_enrolled_to(@subject) %>
    <div class="subject-options">
      <div class="subject-members">Members</div>
      <div class="subject-homework">Homework</div>
      <div class="subject-materials">Materials</div>
      <div class="subject-practice">Practice!</div>
    </div>
      <p><%= link_to "Unenroll", workload_path(user_id: current_user.id, subject_id: @subject.id), remote: true, method: :delete, id: "enroll-btn" %></p>
    <% else %>
      <p><%= link_to "Take this subject", workloads_path(user_id: current_user.id, subject_id: @subject.id), remote: true, method: :post, id: "enroll-btn" %></p>
    <% end %>
  <p><%= link_to "Back to my Workload", subjects_path %></p>
