<div class="composer-show-container">
  <div class="composer-show-photo-container">
    <%= cl_image_tag find_photo(@subject) %>
  </div>
  <p><%= @subject.name %></p>
  <p><%= @subject.description %></p>
  <p><%= @subject.rating %></p>
  <p>Enjoy it!</p>
  <p><%= link_to "Edit subject", edit_subject_path(@subject) %></p>
  <p><%= link_to "Back to my Workload", subjects_path %></p>
</div>
