<div class="home-container">
  <div class="home-title">
      <h1>Musical 284</h1>
      <p class="lead text-muted">Connect with your music community. Enhance your music skills. Assess your level. Share and keep track of your progress. Discover exciting tutorials. Unlock and play musical games. And much more.</p>
  </div>
</div>
<div class="home-options">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>

      <%= f.button :submit, "Sign in", class: "btn-primary" %>

      <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <% end %>
  <p><%= render partial: 'devise/shared/links' %></p>

</div>

