<div class="central-content">
  <div class="follows-search">
      <%= form_with url: follows_path, method: :get, class: "form-inline" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a user" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
<div class="network-container">
  <div class="users-grid">
    <% @all_users.each do |usr| %>
      <div class="user-card">
        <div class="card-photo-container">
          <%= cl_image_tag find_avatar(usr), class: "photo-fit" %>
        </div>
        <div class="card-info-container">
          <div class="card-info-name">
            <%= link_to fullname(usr), user_path(usr) %>
          </div>
          <div class="card-info-text">
            <%= usr.introduction %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="right-pane"></div>

<script>
  $("#query").keyup(function(){
    let val = $(this).val();
    if(val == ""){
      $("network-container").html("<%= j render 'index' %>");
    } else {
      $("#submit_search").click();
    }
  });
</script>
