
<div class="network-container">
  <div class="users-container">
    <div class="title">Users I follow</div>
    <% @my_followed_users.each do |usr| %>
        <div class="user-card">
          <div class="card-photo-container">
            <%= cl_image_tag find_avatar(usr), class: "photo-fit" %>
          </div>
          <div class="card-info-container">
            <p><%= link_to fullname(usr), user_path(usr) %></p>
            <p><%= usr.introduction %></p>
            <p><%= button_to("Unfollow", follow_path(usr), method: :delete )%></p>
          </div>
        </div>
    <% end %>
    <div class="title">Other users</div>
    <% @not_followed_users.each do |usr| %>
      <div class="user-card">
        <div class="card-photo-container">
          <%= cl_image_tag find_avatar(usr), class: "photo-fit" %>
        </div>
        <div class="card-info-container">
          <p><%= link_to fullname(usr), user_path(usr) %></p>
          <p><%= usr.introduction %></p>
          <p><%= button_to "Follow", follows_path, params: {followed: usr}, method: :post %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="map-container"><%= render 'shared/map' %></div>


</div>
