<div class="container">

  <h1>New level</h1>

  <div>
    <%= simple_form_for(@level, url: level_path, method: :patch) do |f| %>
      <%= f.input :name, :as => :string%>
      <%= f.input :number, :as => :integer %>
      <%= f.input :description, :as => :string %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Save" %>
    <% end %>
  </div>

</div>
