<div class="container">

  <h1>New level</h1>

  <div>
    <%= simple_form_for(@level, url: levels_path) do |f| %>
      <%= f.input :name, :as => :string%>
      <%= f.input :number, :as => :integer %>
      <%= f.input :description, :as => :string %>
      <%= f.input :avatar, as: :file %>
      <%= f.submit "Add level" %>
    <% end %>
  </div>

</div>
