<div class="container">
  <div class="level-title">
    <p><%= @level.name %></p>
    <p><%= @level.description %></p>
    <p><%= link_to "Edit Level", edit_level_path(@level) %></p>
  </div>
  <%= cl_image_tag find_photo(@level) %>
  <div class="level-pieces-container">
    <% @level.pieces.each do |piece| %>
      <div class="level-piece-card">
        <p><%= link_to piece.name, piece_path(piece) %></p>
        <p><%= link_to piece.composer.name, composer_path(piece.composer)%></p>
        <p><%= piece.level.name %></p>
        <p><%= piece.description %></p>
        <p>Rating: <%= piece.rating %></p>
        <%= cl_image_tag find_photo(piece) %>
      </div>
    <% end %>
  </div>
</div>
