
<% if params[:user_id] == current_user.id && params[:general_wall] == "false" %>
  <% posts = @my_posts %>
<% elsif params[:user_id] != current_user.id && params[:general_wall] == "false"  %>
  <% posts = @user_posts %>
<% else %>
  <% posts = @all_posts %>
<% end %>

<% posts.each do |post| %>
  <div class="post">
    <div class="post-avatar-username-date">
      <div class="post-avatar">
        <%= cl_image_tag find_avatar(post.user), class: 'photo-fit' %>
      </div>
      <div class="post-username-date">
        <%= fullname(post.user) %>
        <div class="post-date text-muted">
          <%= time_ago_in_words(post.created_at) %>
        </div>
      </div>
    </div>
    <div class="post-body">
      <div class="post-text">
        <%= remove_video_link_from_text(post.text) %>
      </div>
      <% if post.photo.attached? %>
        <div class="post-photo">
          <%= cl_image_tag post.photo.key %>
        </div>
      <% end %>
      <% unless render_youtube_video(post.text).nil? %>
        <div class="post-video">
          <%= render_youtube_video(post.text) %>
        </div>
      <% end %>
      <div class="post-likes">
        <%= post.likes %>
      </div>
      <% if post.user_id == current_user.id %>
        <div class="post-delete">
          <%= link_to icon('far', 'trash-alt'), post_path(post, general_wall: params[:general_wall]), method: :delete, remote: true %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>



