<!DOCTYPE html>
<html>
  <head>
    <title>Musical 284</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/a5354dd95c.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <% if current_user.nil? %>
      <%= yield %>
    <% else %>

      <%= render 'shared/sidenav' %>
      <div class="main"><%= yield %></div>

    <% end %>
    <script>
      /*$(".sidenav").hover(function(){
        $(".sidenav").animate({width: "20%"},1000);
        $(".main").animate({paddingLeft: "20%"},1000);
        $("i").animate({fontSize: "3vw"},1000);
        //$("a").show(1000);
      }, function(){
        $(".main").animate({paddingLeft: "10%"},1000);
        $(".sidenav").animate({width: "10%"},1000);
        $("i").animate({fontSize: "2vw"},1000);
        //$("a").hide(1000);
      })*/
    </script>
  </body>
</html>
